.rbc-calendar {
  background-color: #f4f6ff;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor .rbc-addons-dnd-resize-ew-icon {
  height: 0;
}

.rbc-event {
  background-color: #fff;
  min-height: 45px;
  width: 90%;
  margin: 0 5%;
  margin-top: 5px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #fff;
}
.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  outline: 2px solid #3b99fc;
}
